# This is a basic workflow to help you get started with Actions

name: molsim-CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.7.9
      - name: Install dependencies with anaconda
        run: |
          $CONDA/bin/conda env update -f conda.yml --name base
          $CONDA/bin/conda install flake8 pytest
          $CONDA/bin/pip install --upgrade pip
      - name: Install molsim into environment
        run: $CONDA/bin/pip install -e .[dev]
      - name: Run CI actions
        run: |
          # $CONDA/bin/flake8
          $CONDA/bin/pytest
